banner-side {
    position: fixed;
    top: 100px;
    width: 120px;
    z-index: 1000;
}

.banner-side.left {
    left: 0;
}

.banner-side.right {
    right: 0;
}

@media (max-width:1200px) {
    .banner-side {
        display: none;
    }
}